---
const { sc } = Astro.params;
const domain = (import.meta.env.ENVIRONMENT === 'LOCAL') ? 'http://localhost:4321' : 'https://prod.url';
const response = await fetch(`${domain}/api/${sc}`)

const data = (await response.status === 200) ? await response.json() : "/";
---

<h2>{data}</h2>
<p>we're working on it</p>

<head>
    <meta http-equiv="refresh" content={ `0; url=${ data }` } />
</head>