---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
	const providedURL = data.get("url");
  	console.log(providedURL);
  } catch (error) {
	if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Shorten.it">
	<main>
		<h1>Shortener</h1>
		<form method="POST">
			<input required name="url" placeholder="Enter URL">
			<br>
			<button>Submit</button>
		</form>
		

	</main>
</Layout>

<style>
	h1 {
		font-size: xxx-large;
	}
	main{
		width: 100vw;
		height: 100vh;
		color: white;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0;
	}
	input{
		all:unset;
		padding: 8px;
		width: 50%;
		border-radius: 1vh;
		background-color: black;
		color: white;
		
	}
	button {
		all:unset;
		background-color:white;
		color: black;
		padding: 8px;
		border-radius: 1vh;
		cursor: pointer;
		margin-top: 25px;
	}

	input::placeholder {
		color: gray;
	}
</style>
